
.sidenav-container {
  height: 100%;
}
.wrap-side {
  padding: 10px 20px;
  mat-form-field {
    width: 100%;
  }
}
.mat-sidenav-content {
  padding-top: 30px;
  height: 100vh;
  background-color: rgba(0,0,0,.1);
}
.sidenav {
  //width: 25%;
  margin-top: 30px;
  padding-top: 100px;
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.24);
}
.calendar-wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  > * {
    flex: 1 1 auto;
    max-width: 150px;
  }
}
.app-container {
  height: 100%;
  padding: 15px;
  //background-color: rgba(0,0,0,.1);
}
.top {
  background-color: yellow;
  display: flex;
  width: 100%;
  justify-content: space-between;
  > * {
    flex: 1 1 auto;
    max-width: 350px;
    background-color: green;
  }
}
.total-sum-wrap {
  display: block;
  width: 400px;
  margin: 20px auto 0 auto;
  p {
    margin-bottom: 7px;
  }
}
.total-accounts {
  display: flex;
  width: 100%;
  justify-content: space-around;
  > * {
    flex: 0 1 auto;
  }
  .total-accounts-block {
    max-width: 500px;
  }
}
.total-accounts-graph {
  max-width: 500px;
}
.all-accounts {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
  .all-accounts-list {
    max-width: 200px;
  }
  .monthly-card {
    flex: 1 1 auto;
    //max-width: 650px;
  }
  .curr-card {
    flex: 1 1 auto;
    //max-width: 500px;
  }
}
.sa-graph {
  card {
    width: 100%;
  }

}
mat-card-content.woo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  > * {
    flex: 1 1 auto;
    //max-width: 350px;
  }
}
.single-account-info-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  > * {
    flex: 1 0 auto;
    //max-width: 350px;
  }
  mat-list {
    max-width: 250px;
  }
}
