<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="left-side" #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <div class="wrap-side">
      <mat-form-field class="select-acc">
        <mat-label>Select account</mat-label>
        <mat-select [(value)]="selected" #sl>
          <mat-option *ngFor="let acc of accountsTotals; let i = index" [value]="acc.total" (click)="onAccountSelect(i)">{{acc.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="sel-center">
        <mat-label>By Data Center</mat-label>
        <mat-select [(value)]="selected" #sl>
          <mat-option *ngFor="let acc of dataCenters; let i = index" [value]="acc.total" (click)="onDataCenterSelect(i)">{{acc.name}}</mat-option>
        </mat-select>
      </mat-form-field>
<!--      <ngx-daterangepicker-material (choosedDate)="choosedDate($event)">-->
<!--      </ngx-daterangepicker-material>-->
<!--      <input type="text" ngxDaterangepickerMd [(ngModel)]="sel" class="form-control"/>-->
      <div class="calendar-wrap">
        <fieldset>
          <legend>By Time Range</legend>
          <mat-form-field>
            <input
              #dr
              matInput
              name="workStartDate"
              [matDatepicker]="picker"
              placeholder="Start" >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-label>Starts</mat-label>
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              name="workEndDate"
              [matDatepicker]="picker1"
              placeholder="End">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-label>Ends</mat-label>
          </mat-form-field>
        </fieldset>

      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content >
    <div class="app-container" style="text-align: center">
<!--      <p mat-line>Welcome to the Payment console, your month-to-date, and month-end forecast cost appear below</p>-->
      <mat-card class="total-accounts-block">
        <div class="total-sum-wrap">
          <p class="mat-headline">Current Monthly Balance For {{optionLabel}}: </p>
          <h1 class="mat-display-3">{{selected | currency}}</h1>
<!--          <p mat-line>Welcome to the Payment console, your month-to-date, and month-end forecast cost appear below</p>-->
          <fusioncharts
            width="400"
            height="335"
            type="Column2d"
            [dataSource]="barData"
          >
          </fusioncharts>
        </div>
        <div class="graph-right">
              <app-fdough
                width= "110%"
                [dataDough]="dataSource"
              ></app-fdough>
        </div>
        <mat-nav-list class="all-accounts-list">
          <mat-list-item *ngFor="let ac of initAllAccServices" style="text-align: right">
            <h3 matLine>{{ac.label}}: <span class="mat-headline"> ${{ac.value}}</span> </h3>
          </mat-list-item>
        </mat-nav-list>
      </mat-card>
      <mat-divider></mat-divider>
      <section class="total-accounts">
<!--        <mat-nav-list class="all-accounts-list">-->
<!--            <mat-list-item *ngFor="let ac of initAllAccServices" style="text-align: right">-->
<!--            <h3 matLine>{{ac.label}}: <span class="mat-headline"> ${{ac.value}}</span> </h3>-->
<!--            </mat-list-item>-->
<!--        </mat-nav-list>-->
        <div class="total-accounts-graph">
          <mat-card class="course-card mat-elevation-z3" style="width: 900px">
            <mat-card-content class="total-accounts-card-content">
              <fusioncharts
                width="100%"
                height="500"
                type="stackedcolumn2d"
                [dataSource]="stackData"
              >
              </fusioncharts>
            </mat-card-content>
          </mat-card>
        </div>
      </section>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
