<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="left-side" #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <div class="wrap-side">
      <mat-form-field class="select-acc">
        <mat-label>Select account</mat-label>
        <mat-select [(value)]="selected" #sl>
          <mat-option *ngFor="let acc of accountsTotals; let i = index" [value]="acc.total" (click)="getLabel(i)">{{acc.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="sel-center">
        <mat-label>By Data Center</mat-label>
        <mat-select>
          <mat-option *ngFor="let acc of accountsTotals" [value]="acc.total">{{acc.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="calendar-wrap">
        <fieldset>
          <legend>By Time Period</legend>
          <mat-form-field>
            <input
              #dr
              matInput
              name="workStartDate"
              [matDatepicker]="picker"
              placeholder="Start" >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-label>Starts</mat-label>
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              name="workEndDate"
              [matDatepicker]="picker1"
              placeholder="End">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-label>Ends</mat-label>
          </mat-form-field>
        </fieldset>

      </div>
    </div>


  </mat-sidenav>
  <mat-sidenav-content >
    <div class="app-container">
      <div class="total-accounts-block">
        <div class="total-sum-wrap">
          <p class="mat-headline">Current Monthly Balance For {{optionLabel}}: </p>
          <h1 class="mat-display-3">{{selected | currency}}</h1>
        </div>
        <p mat-line>Welcome to the Payment console, your month-to-date, and month-end forecast cost appear below</p>
      </div>
      <section class="total-accounts">
        <div class="total-accounts-graph">
          <mat-card class="course-card mat-elevation-z3" style="width: 100%">
            <mat-card-content class="total-accounts-card-content">
              <app-fdough
                [dataDough]="dataSource"
              ></app-fdough>
              <app-bar-simple></app-bar-simple>
              <app-stack></app-stack>
            </mat-card-content>
          </mat-card>
        </div>
      </section>
      <section class="all-accounts" >
        <div class="all-accounts-info" style="display: flex; flex-wrap: wrap">
          <mat-card class="monthly-card mat-elevation-z10" style="max-width: 550px">
            <mat-card-header>
              <mat-card-title>Comparative Cost of Accounts by Month</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              contsnt here
            </mat-card-content>
          </mat-card>
          <mat-list class="all-accounts-list">
            <mat-list-item *ngFor="let ac of accountsList">
              <h3 matLine>{{ac.name}}: <span class="mat-headline">${{ac.total}}</span> </h3>
            </mat-list-item>
          </mat-list>
          <mat-card class="curr-card mat-elevation-z10" style="max-width: 550px">
            <mat-card-header>
              <mat-card-title>Current vs. Previous vs. Next Month</mat-card-title>
            </mat-card-header>
            <mat-card-content>
             content here
            </mat-card-content>
          </mat-card>
        </div>

      </section>
      <hr mat-line>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
