<<<<<<< HEAD
.sidenav-container {
}
.sidenav {
  background-color: yellow;
  margin-top: 80px;
}
.container-content {
  background-color: pink;
=======
.sidenav {
  margin-top: 90px;
  max-width: 400px;
  mat-form-field {
    width: 100%;
  }
}
.content-wrap {
  background: rgba(0,0,0,.1);
>>>>>>> 611f7d76f9c06876807747b28429219a2aed0ccc
}
