<!--<mat-sidenav-container class="sidenav-container">-->
<!--  <mat-sidenav class="left-side" #drawer class="sidenav" fixedInViewport="true"-->
<!--               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"-->
<!--               [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">-->
<!--    <div class="wrap-side">-->
<!--      &lt;!&ndash;      <mat-nav-list>&ndash;&gt;-->
<!--      &lt;!&ndash;        <a mat-list-item routerLink="/payments">Link 1</a>&ndash;&gt;-->
<!--      &lt;!&ndash;        <a mat-list-item routerLink="/payments">Link 2</a>&ndash;&gt;-->
<!--      &lt;!&ndash;      </mat-nav-list>&ndash;&gt;-->

<!--      <mat-expansion-panel style="margin-bottom: 40px;">-->
<!--        <mat-expansion-panel-header (click)="onAllShow()">-->
<!--          ACCOUNTS-->
<!--        </mat-expansion-panel-header>-->
<!--              <mat-nav-list *ngFor="let op of accounts">-->
<!--                <button (click)="onSumServ(op.id)" mat-button color="primary">{{op.name}}</button>-->
<!--              </mat-nav-list>-->
<!--        <mat-action-row>-->
<!--          <button mat-button>Current Balance: {{granTotal | currency}}</button>-->
<!--        </mat-action-row>-->
<!--      </mat-expansion-panel>-->
<!--      <div class="calendar-wrap">-->
<!--        <mat-form-field appearance="outline">-->
<!--          <input-->
<!--            matInput-->
<!--            name="workStartDate"-->
<!--            [matDatepicker]="picker"-->
<!--            placeholder="Start" required>-->
<!--          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--          <mat-datepicker #picker></mat-datepicker>-->
<!--          <mat-label>Starts</mat-label>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field appearance="outline">-->
<!--          <input-->
<!--            matInput-->
<!--            name="workEndDate"-->
<!--            [matDatepicker]="picker1"-->
<!--            placeholder="End">-->
<!--          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>-->
<!--          <mat-datepicker #picker1></mat-datepicker>-->
<!--          <mat-label>Ends</mat-label>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--    </div>-->


<!--  </mat-sidenav>-->
<!--  <mat-sidenav-content >-->
<!--    <div class="app-container">-->
<!--      <section class="total-accounts">-->
<!--        <div class="total-accounts-block">-->
<!--          <p mat-line>Welcome to the Payment console, your month-to-date, and month-end forecast cost appear below</p>-->
<!--          <div class="total-sum-wrap">-->
<!--            <p class="mat-headline">Current Monthly Balance For All Accounts </p>-->
<!--            <h1 class="mat-display-3">{{granTotal | currency}}</h1>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="total-accounts-graph">-->
<!--          <mat-card class="course-card mat-elevation-z3" style="width: 100%">-->
<!--            <mat-card-content>-->
<!--              <fusioncharts-->
<!--                width="700"-->
<!--                height="400"-->
<!--                type="Column2d"-->
<!--                [dataSource]="dataSource">-->
<!--              </fusioncharts>-->
<!--&lt;!&ndash;              <app-doughnut-tpl [dataArr]="accountsArr" [labelArr]="accLabels"></app-doughnut-tpl>&ndash;&gt;-->
<!--            </mat-card-content>-->
<!--          </mat-card>-->
<!--        </div>-->
<!--      </section>-->
<!--      <section class="all-accounts" *ngIf="toShow">-->
<!--        <div class="all-accounts-info" style="display: flex; flex-wrap: wrap">-->
<!--          <mat-card class="monthly-card mat-elevation-z10" style="max-width: 550px">-->
<!--            <mat-card-header>-->
<!--              <mat-card-title>Comparative Cost of Accounts by Month</mat-card-title>-->
<!--            </mat-card-header>-->
<!--            <mat-card-content>-->
<!--              <app-my-line-chart></app-my-line-chart>-->
<!--            </mat-card-content>-->
<!--          </mat-card>-->
<!--          <mat-list class="all-accounts-list">-->
<!--            <mat-list-item *ngFor="let ac of accounts">-->
<!--              <h3 matLine>{{ac.name}}: <span class="mat-headline">${{ac.total}}</span> </h3>-->
<!--            </mat-list-item>-->
<!--          </mat-list>-->
<!--          <mat-card class="curr-card mat-elevation-z10" style="max-width: 550px">-->
<!--            <mat-card-header>-->
<!--              <mat-card-title>Current vs. Previous vs. Next Month</mat-card-title>-->
<!--            </mat-card-header>-->
<!--            <mat-card-content>-->
<!--              <app-bar-tpl [barChartData]="barsData"></app-bar-tpl>-->
<!--            </mat-card-content>-->
<!--          </mat-card>-->
<!--        </div>-->

<!--      </section>-->

<!--&lt;!&ndash;      <router-outlet></router-outlet>&ndash;&gt;-->

<!--      <section class="single-account" *ngIf="!toShow">-->
<!--        <hr mat-line>-->
<!--&lt;!&ndash;        <h2>Single Acc Num: {{acNum}} - {{totalServicePay | currency}}</h2>&ndash;&gt;-->
<!--&lt;!&ndash;        <app-single-account&ndash;&gt;-->
<!--&lt;!&ndash;          [accountName]="acNum"&ndash;&gt;-->
<!--&lt;!&ndash;          [totalAccount]="totalServicePay"&ndash;&gt;-->
<!--&lt;!&ndash;          [serviceData]="serviceData"&ndash;&gt;-->
<!--&lt;!&ndash;          [serviceLabels]="serviceLabels"&ndash;&gt;-->
<!--&lt;!&ndash;          [applData]="applData"&ndash;&gt;-->
<!--&lt;!&ndash;          [applLabels]="applLabels"&ndash;&gt;-->
<!--&lt;!&ndash;          [locationData]="locationData"&ndash;&gt;-->
<!--&lt;!&ndash;          [locationLabels]="locationLabels"&ndash;&gt;-->
<!--&lt;!&ndash;          [accApps]="alP"&ndash;&gt;-->
<!--&lt;!&ndash;          [accServices]="alS"&ndash;&gt;-->
<!--&lt;!&ndash;        ></app-single-account>&ndash;&gt;-->
<!--      </section>-->
<!--      <hr mat-line>-->
<!--    </div>-->
<!--  </mat-sidenav-content>-->
<!--</mat-sidenav-container>-->

<!--      <p mat-line>Welcome to the Payment console, your month-to-date, and month-end forecast cost appear below</p>-->
<!--      <section class="top">-->
<!--        <div class="top-div">-->
<!--          <label>Current months-to-date balance for June 1</label>-->
<!--          <div>Bar Chart Graph goes here</div>-->

<!--        </div>-->
<!--        <div class="top-div">-->
<!--          <div class="bill-details-panel">-->
<!--            <p>Month-to-Date Spend By Service</p>-->
<!--            <button class="mat-button">Bill Details</button>-->
<!--          </div>-->
<!--          <div class="doughnut-chart">-->
<!--            Doughnut Chart is here-->
<!--          </div>-->

<!--        </div>-->
<!--      </section>-->
<!--      <section>-->
<!--        <div class="bottom-div">-->
<!--          <label>Break Down By Region * Day</label>-->
<!--          <div class="stack-chart">-->
<!--            Comparative Stack-type chart goes here-->
<!--          </div>-->
<!--        </div>-->
<!--      </section>-->
<!--      <mat-card class="course-card mat-elevation-z10" style="width: 450px;margin: auto">-->
<!--        <mat-card-header>-->
<!--          <mat-card-title>Graph Title</mat-card-title>-->
<!--        </mat-card-header>-->
<!--        <mat-card-content>-->
<!--          <app-my-line-chart></app-my-line-chart>-->
<!--        </mat-card-content>-->
<!--        <mat-card-actions class="course-actions">-->
<!--          <button mat-button class="mat-raised-button mat-accent">-->
<!--            some action-->
<!--          </button>-->
<!--        </mat-card-actions>-->
<!--      </mat-card>-->
<!--      <ng-content></ng-content>-->
