<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="left-side" #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <div class="wrap-side">
      <!--      <mat-nav-list>-->
      <!--        <a mat-list-item routerLink="/payments">Link 1</a>-->
      <!--        <a mat-list-item routerLink="/payments">Link 2</a>-->
      <!--      </mat-nav-list>-->

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          ACCOUNTS
        </mat-expansion-panel-header>
              <mat-nav-list *ngFor="let op of accounts">
                <a mat-list-item routerLink="/payments">{{op.name}}</a>
              </mat-nav-list>
        <mat-action-row>
          <button mat-button>Action Row Btn</button>
        </mat-action-row>
      </mat-expansion-panel>
<!--      <mat-form-field appearance="outline">-->
<!--        <mat-select-->
<!--          #Serv-->
<!--        >-->
<!--          <mat-option-->
<!--            *ngFor="let x of opts"-->
<!--            [value]="x.id">-->
<!--            {{x.name}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--        <mat-label> Service</mat-label>-->
<!--      </mat-form-field>-->

      <div class="calendar-wrap">
        <mat-form-field appearance="outline">
          <input
            matInput
            name="workStartDate"
            [matDatepicker]="picker"
            placeholder="Start" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-label>Starts</mat-label>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input
            matInput
            name="workEndDate"
            [matDatepicker]="picker1"
            placeholder="End">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-label>Ends</mat-label>
        </mat-form-field>
      </div>
    </div>


  </mat-sidenav>
  <mat-sidenav-content>
    <div class="app-container">
      <section class="total-accounts">
        <div class="total-accounts-block">
          <p mat-line>Welcome to the Payment console, your month-to-date, and month-end forecast cost appear below</p>
          <div class="total-sum-wrap">
            <p class="mat-headline">Total Balance For All Accounts </p>
            <h1 class="mat-display-3">$2,300.00</h1>
          </div>
        </div>
        <div class="total-accounts-graph">
          <mat-card class="course-card mat-elevation-z3" style="width: 100%">
            <mat-card-content>
              <app-my-dough-chart></app-my-dough-chart>
            </mat-card-content>
          </mat-card>
        </div>
      </section>
      <section class="all-accounts" >
        <div class="all-accounts-info">
          <mat-list>
            <mat-list-item *ngFor="let ac of accounts">
              <h3 matLine>{{ac.name}}: <span class="mat-headline">${{ac.total}}</span> </h3>
            </mat-list-item>
          </mat-list>
        </div>
        <mat-card class="course-card mat-elevation-z10" style="width: 650px;">
          <mat-card-header>
            <mat-card-title>Comparative Cost of Accounts by Month</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-my-line-chart></app-my-line-chart>
          </mat-card-content>
        </mat-card>
      </section>

      <hr mat-line>
      <section class="single-account">
        <div class="total-sum-wrap">
          <p class="mat-headline">Balance For the Account 1</p>
          <h1 class="mat-display-2">$1,123.00</h1>
        </div>
        <div class="single-account-info">
          <p>Services</p>
          <p>Applications</p>
          <p>Data Services</p>
          <div class="sa-graph">
            <mat-card class="course-card mat-elevation-z10" style="width: 650px;">
              <mat-card-header>
                <mat-card-title>Share of The Cost By Service</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <app-doughnut-tpl [dataArr]="customData" [labelArr]="customLabels"></app-doughnut-tpl>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </section>
      <hr mat-line>
      <p mat-line>Welcome to the Payment console, your month-to-date, and month-end forecast cost appear below</p>
      <section class="top">
        <div class="top-div">
          <label>Current months-to-date balance for June 1</label>
          <div>Bar Chart Graph goes here</div>

        </div>
        <div class="top-div">
          <div class="bill-details-panel">
            <p>Month-to-Date Spend By Service</p>
            <button class="mat-button">Bill Details</button>
          </div>
          <div class="doughnut-chart">
            Doughnut Chart is here
          </div>

        </div>
      </section>
      <section>
        <div class="bottom-div">
          <label>Break Down By Region * Day</label>
          <div class="stack-chart">
            Comparative Stack-type chart goes here
          </div>
        </div>
      </section>
      <mat-card class="course-card mat-elevation-z10" style="width: 450px;margin: auto">
        <mat-card-header>
          <mat-card-title>Graph Title</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-my-line-chart></app-my-line-chart>
        </mat-card-content>
        <mat-card-actions class="course-actions">
          <button mat-button class="mat-raised-button mat-accent">
            some action
          </button>
        </mat-card-actions>
      </mat-card>
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
