<section class="single-account" >
  <div class="total-sum-wrap">
    <p class="mat-headline">Balance For the Account 1</p>
    <h1 class="mat-display-2">{{totalAccount}}</h1>
  </div>
  <div class="single-account-info-wrap">
    <mat-list>
      <mat-list-item>
        <h3 matLine>Services: <span class="mat-headline">$877</span> </h3>
      </mat-list-item>
      <ng-container *ngFor="let s of accServices">
        <mat-list-item  (click)="openDialog(s)"  class="mat-button">
          <mat-icon mat-list-icon>backup</mat-icon>
          <h4 mat-line>{{s.name}}</h4>
          <p mat-line> $100</p>
        </mat-list-item>
      </ng-container>
    </mat-list>
    <mat-list>
        <mat-list-item>
          <h3 matLine>Applications: <span class="mat-headline">$877</span> </h3>
        </mat-list-item>
      <ng-container *ngFor="let p of accApps">
        <mat-list-item (click)="openDialog(p)"  class="mat-button">
          <mat-icon mat-list-icon>account_balance_wallet</mat-icon>
          <h4 matLine>{{p.name}}<span class="mat-headline"> $1024</span> </h4>
        </mat-list-item>
      </ng-container>
    </mat-list>
    <mat-list>
      <mat-list-item>
        <h3 class="mat-subheader">Data Centers: <span class="mat-headline"></span> </h3>
      </mat-list-item>
      <ng-container *ngFor="let p of accServices">
        <mat-list-item (click)="openDialog(p)" class="mat-button">
          <mat-icon mat-list-icon>account_balance_wallet</mat-icon>
          <h4 matLine>{{p.name}}<span class="mat-headline"> $1024</span> </h4>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </div>
  <mat-card class="course-card mat-elevation-z10" >
    <mat-card-header>
      <mat-card-title>Shares By Service, Application, Data Center</mat-card-title>
    </mat-card-header>
    <mat-card-content class="woo">
      <div>
        <app-doughnut-tpl [dataArr]="serviceData" [labelArr]="serviceLabels"></app-doughnut-tpl>
      </div>
      <div>
        <app-doughnut-tpl [dataArr]="applData" [labelArr]="applLabels"></app-doughnut-tpl>
      </div>
      <div>
        <app-doughnut-tpl [dataArr]="locationData" [labelArr]="locationLabels"></app-doughnut-tpl>
      </div>

    </mat-card-content>
  </mat-card>
</section>
